.imageHolder {
  background-color: transparent;
}
.card-bg {
  background-color: #f9fbf2;
  color: black;
}
.infoCard {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(14, 52, 91, 0.15), 0 2px 3px rgba(14, 52, 91, 0.2);
}
.mybtn {
  background-color: #3da5d9;
  color: black;
  font-weight: 500;
}
.socialLink {
  position: relative;
  display: inline-block;
}
.socialLink::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid black;
  top: 15px;
  width: 150%;
  left: 100%;
  margin-left: 10px;
}

.skillink {
  position: relative;
  display: inline-block;
}
.skillink::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid black;
  top: 15px;
  width: 350%;
  left: 100%;
  margin-left: 10px;
}
.mylink {
  color: #3da5d9;
}
