.signIn {
  margin-top: 80px;
  margin-bottom: 100px;
}
.container {
  max-width: 370px;
  width: 100%;
  margin: 2% none;
  position: relative;
  color: white;
  padding: 3%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(180deg, #05418a, rgb(0, 4, 12));
}
.contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 35px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.text {
  color: #0e345b;
}
