
.container {
    max-width: 900px;
    width: 100%;
    margin: 2% auto;
    position: relative;
    color: white;
    padding: 2%;
    background-image: linear-gradient(180deg, #05418A, black);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .basic {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btnlinkdash{
    color: black;
    font-weight: 500;
    background-color: white;
    border: #B1ACAA;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .headfont{
    font-size: 30pt;
    color: white;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}