.commentBtn {
  background-color: #14a5ee;
}
.thumbBtn {
  color: #3da5d9;
}
.mycard {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 0px;
}
.likeCommentDiv {
  margin-top: 10px;
  width: 100%;
  display: flex;
}
.likeElement {
  flex: 1;
  border-radius: 0;
}
.CommentElement {
  flex: 1;
  border-radius: 0;
}
.likeLength {
  margin-bottom: 5px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #14a5ee;
  padding: 4px;
  text-align: center;
  width: max-content;
}
.nameText {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.postText {
  padding-top: 10px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}
.editDeleteBtn:hover {
  cursor: progress !important;
}
.MuiSvgIcon-root:hover {
  cursor: pointer;
  cursor: progress !important;
  font-size: 1.8rem !important;
}
.profileStatus {
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
  display: block;
}
